my-idea.txt

####################################
# Common
####################################
.env
.env.*
*.log


####################################
# OS / IDE
####################################
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml


####################################
# ================================
# .NET / ASP.NET Core
# ================================
####################################
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.mdb

####################################
# ================================
# Java / Spring Boot
# ================================
####################################
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
*.class

####################################
# ================================
# Python / Django
# ================================
####################################
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3
staticfiles/
media/

